
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
.attribution { 
     font-size: 11px;
     text-align: center; 
     display: flex;
     justify-content: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
} */

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    position: relative;   
}

  

.container {
    max-width:1220px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    display: block;
} 


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
     padding: 1rem;
    
}



.menu {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    right: 35px;
    transition: ease-in 0.3s;
    /* outline: 1px olivedrab solid; */
    display: block;
   
}

.x {
    position: absolute;
    cursor: pointer;
    display: flex; 
    width: 100%;
    /* right: -100px; */
    left: 400px;
    /* justify-content:center ; */
    align-self: center;
    z-index: 1;
    display: none;
}

/* .overlay {
    position: relative;
    width: 60%;
    outline: 1px solid red;
} */


.navbar{
    position: absolute;
    /* height: 100%; */
    width: 60%;
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 2rem;
    transition: ease-in 0.3s;
}  

.navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    gap: 3rem;
    /* outline: 1px solid green; */
    margin-top: 7rem;
}

.navbar ul li {
    list-style: none;
    text-align: left;

}


.navbar li a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
   
}

.navbar a:hover {
    color: hsl(5, 85%, 63%);
    transition: ease 0.3s;
}

/* First Showcase  */
.header-main h1 {
    margin-top: 2rem;
   color: hsl(240, 100%, 5%);
}

.header-text p {
    margin-top: 1rem;
    color:  hsl(236, 13%, 42%);
}

.header-btn {
    margin-top: 1rem;
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    letter-spacing: 7px;
    cursor: pointer;
}

/* Second showcase */
.second-header {
    background: hsl(240, 100%, 5%);
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
}

.second-header-text h1{
    color: hsl(35, 61%, 66%);
    font-size: 2rem;
}

.content-1 h3{
    margin-top: 1rem;
    letter-spacing: 1px;
    color: hsl(38, 17%, 91%);
}

.content-1 p {
    color: hsl(236, 13%, 42%);
    letter-spacing: 1px;
    margin-top: 0.75rem;
}

/* Line Img */
.line-img {
    /* position: absolute; */
    margin-top: 2.5rem;
    width: 100% ;
    height: 1px;
    background-color: hsl(236, 13%, 42%);
    /* outline: 1px solid red; */
}


/* Third-showcase */
.third-showcase-item {
    margin-top: 2rem;
    
}


.content-img-items  {
    margin-top: 3rem;
    display: flex;
    /* align-items: center; */
}

.content-wrap {
    margin-left: 1rem;
}

.content-wrap h1 {
    font-size: 2rem;
    color: hsl(233, 8%, 79%);
}



.content-text-wrap h4 {
    color: hsl(240, 100%, 5%);
    font-size: 1.1rem;
    margin-top: 1rem;
}

.content-text-wrap p {
    color:   hsl(236, 13%, 42%);
    margin-top: 1rem;
}


/* Toggle */
   
.visible {
    display: block;
}

.invisible {
    display: none;
}

@media (min-width:700px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .navbar {
        display: block;
        position: static;
        top: 0;
        background-color: #fff;
        padding: 0;
       
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: 0;
    }

    .navbar ul li {
        padding: 1rem;
    }

    .navbar li a {
        text-decoration: none;
        color: hsl(236, 13%, 42%);
    }

    .navbar a:hover {
        color: hsl(5, 85%, 63%);
        transition: ease 0.3s;
    }

    .overlay {
        /* display: none; */
    }
    
    .menu img {
        display: none;
        position: absolute;
    }

    .x img {
        display: none;
    }


}
